<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LSPZ Data Entry</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body data-bs-theme="dark">
  <div class="container-fluid min-vh-100 d-flex flex-column px-4">
    <h1 class="text-center border-bottom">LSPZ Data Entry</h1>
    <div class="row justify-content-center flex-grow-1">
      {% macro lspz_track_player(letter) %}
      <div class="col-6" id="sample-{{letter}}-col">
        <h3 class="text-center">Track / Sample {{letter | upper}}</h3>
        <div class="d-flex align-items-center justify-content-evenly">
          <div class="col-10">
            <audio controls="" autostart="0" name="sample-{{letter}}" id="sample-{{letter}}" style="width:100%;">
              <source src type="audio/mpeg">
            </audio>
          </div>
          <div class="col-2 d-flex justify-content-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sample-{{letter}}" aria-expanded="false" aria-controls="collapse-sample-{{letter}}">
              Show details
            </button>
          </div>
        </div>
        <div class="collapse" id="collapse-sample-{{letter}}">
          <div class="card card-body" id="sample-details-{{letter}}">
            No track loaded.
          </div>
        </div>
      </div>
      {% endmacro %}
      {{lspz_track_player('a')}}
      {{lspz_track_player('b')}}
    </div>
    <div class="row justify-content-center gx-6">
      <div class="col-3">
        <h3 class="text-center">Controls</h3>
        <div class="input-group">
          <!-- <input type="range" id="volume" name="volume" min="0" max="100"> -->
          <label for="master_volume" class="form-label">Master Volume</label>
          <input type="range" class="form-range" id="master_volume" min="0" max="100">
        </div>
        <div class="input-group lspz-controls">
          <script>
            let init_settings = {};
          </script>
          {% for controlname in [
            ['play_from_track_start', '<strike>Play from start of track instead of start of sample.</strike> Not Implemented'],
            ['stop_at_sample_end', '<strike>Continue playing the track after the sample section.</strike> Not Implemented'],
            ['show_track_details', 'Show track name and details by default.'],
          ] %}
          <div class="form-check form-switch lspz-control">
            <input class="form-check-input" type="checkbox" role="switch" id="{{controlname[0]}}" value="">
            <label class="form-check-label" for="{{controlname[0]}}">{{controlname[1] | safe}}</label>
          </div>
          <script>
          init_settings["{{controlname[0]}}"] = false;
          // let option_{{controlname[0]}}_el = document.getElementById("{{controlname[0]}}");
          // option_{{controlname[0]}}_el.
          // window.addEventListener("load", () => {
          //
          // });
          </script>
          {% endfor %}
        </div>
      </div>
      <div class="col-9">
        <h3 class="text-center">Data Input</h3>
        <form action="/api/v1/data/submit-comparison" id="lspz-data-submission">
          <div class="input-group">
            <label for="input_energy" class="form-label">Which sample has higher Intensity / Energy?</label>
            <input type="range" class="form-range" name="input_energy" id="input_energy" min="-1" max="1" step="0.1">
            <p>Track/Sample <b>A</b> is <span id="input_energy_detail" style="font-weight: bold;">N/A</span> intense and energetic compared to <b>B</b>.</p>
          </div>
          <div class="input-group">
            <label for="input_synthetic" class="form-label">Which sample has more artificial, electronic, or computer-generated sounds?</label>
            <input type="range" class="form-range" name="input_synthetic" id="input_synthetic" min="-1" max="1" step="0.1">
            <p>Track/Sample <b>A</b> is <span id="input_synthetic_detail" style="font-weight: bold;">N/A</span> synthetic or electronic compared to <b>B</b>.</p>
          </div>
          <div class="row">
          {% for letter in ['a', 'b'] %}
            <div class="col input-group">
              <input type="range" class="form-range" name="input_vocal_{{letter}}" id="input_vocal_{{letter}}" min="0" max="1" step="1">
              <p>Track/Sample <b>{{letter|upper}}</b> contains <span id="input_vocal_{{letter}}_detail" style="font-weight: bold;">...</span></p>
            </div>
          {% endfor %}
          </div>
          <div class="input-group" data-bs-theme="dark">
            <input type="text" class="form-control" placeholder="Additional comments, notes, or other information?" aria-label="Comments" data-bs-theme="dark">
            <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
            <button type="submit" class="btn btn-primary">Submit Data</button>
            <button type="button" onclick="window.navigation.reload()" id="lspz-new" class="btn btn-outline-danger">New Comparison</button>
          </div>
        </form>
      </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-0 my-1 border-top">
      <p class="col-md-4 mb-0 text-muted">Interface © LSPZ Contributors</p>

      <!-- <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a> -->

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://unhexium.net" class="nav-link px-2 text-muted">unhexium.net</a></li>
      </ul>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='input.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='rangebubble.js') }}"></script> -->
</body>

</html>
